 <span class="add-new-card">&#10133; New Card</span>
      <span class="hide-add-new-card" style="display:none">➖ Hide</span>
      <br><br>


<div class="new-card" style="display:none;">
  <form action="/user" name="newcardform" method="POST">
    <input class="form-control" type="text" name="cardUrl" placeholder="Resource URL"><br>
    <input class="form-control" type="text" name="cardImage" placeholder="Image"><br>
    <input class="cardTitle form-control" type="text" name="cardTitle" placeholder="Title"><br>
    <textarea class="form-control" name="cardDescription" placeholder="Description"></textarea> <br>
    <select class="form-control" name="cardCategory"><br>
      <option value=1>Entertainment</option>
      <option value=2>Food</option>
      <option value=3>Education</option>
      <option value=4>News</option>
      <option value=5>Lifestyle</option>
    </select><br>
  <input class="form-control" type="submit" value="Submit">
  </form>
</div>