<div class="view-favourites">
  <select class="form-control" name="likeCategory" style="border:none">
    <option value=0>♥︎ View Favourites</option>
    <option value="t">✗ View All</option>
  </select> 
</div>