<div class="search-filter">
  <form action="/user/resources/filter" method="POST">
   <select class="form-control" name="cardCategory">
                  <option>News</option>
                  <option>Entertainment</option>
                  <option>Education</option>
                  <option>Food</option>
                  <option>Lifestyle</option>
                </select> <input class='btn btn-default form-control input' type="submit" value="Filter">
  </div>