<div class="search-filter">
  <select class="form-control" name="likeCategory">
    <option value=0>Select all (likes and unlikes)</option>
    <option value="t">Likes</option>
    <option value="f">Unlikes</option>
  </select> 
</div>