<div class="view-favourites">
  <select class="form-control like" name="likeCategory" style="border:none">
    <option value=0>View All</option>
    <option value="t">♥︎ View Likes</option>
  </select> 
</div>