<div class="view-favourites">
  <select class="form-control like" name="likeCategory">
    <option value=0>-- View All --</option>
    <option value="t">♥︎ View Favourites</option>
  </select> 
</div>