 <nav class="nav-bar">
    <div class="header">

        Fetch
        <% if (user) {%>
         <div class="nav-menu">
             <%- include _navmenu.ejs %>
        </div>
        <div class="nav-pic-container">
          <a href="/user/profile"><img class="nav-profile-pic" src="<%= user.profile_photo %>"/></a>
        </div>
        <% } else { %>
        <div class="nav-login-container">
            <a href="/login" class="login-button">Login</a>
         <% } %>
        </div>
</nav>