<div class="dropdown">
  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
  </div>
  </div>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/">All Cards</a></li>
    <li><a href="/user">My Cards</a></li>
    <li><a href="/user/profile">My Profile</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" id="logout">Logout</a></li>
  </ul>
</div>