<div class="search-filter">
  <form action="/user/resources/search" method="POST">
<input class="form-control" type="text" name="searchText" placeholder="Search for..."> <input class='btn btn-default form-control input' type="submit" value="ðŸ”">
  </form>
  </div>