<div class="search-filter">
  <form action="/user/resources/search" method="POST">
    <input class="form-control" type="text" name="searchText" placeholder="Search for...">
     <input class='btn' type="submit" value="Search">
  </form>
 
  <form action="/user/resources/filter" method="POST">
    <input class='btn' type="submit" value="Filter">
  </div>