<div class="search-filter">
    <form id="search-form" action="/api/resources/search" method="GET">
        <input class="form-control" type="text" name="searchText" placeholder="Search for...">
        <input class='btn btn-default form-control input' type="submit" value="ðŸ”">
    </form>
</div>