<div class="search-filter">
    <form action="/user/resources/" id="search-form" method="GET">
        <input class="form-control" type="text" name="searchText" placeholder="Search for...">
        <input class='btn btn-default form-control input' type="submit" value="ðŸ”">
    </form>
</div>