<div class="search-filter">
    <form id="search-form-user" action="/api/search/user" method="POST">
        <input class="form-control" type="text" name="searchText" placeholder="Fetch...">
        <input class='btn btn-default form-control input' type="submit" value="ðŸ”">
    </form>
</div>