<!DOCTYPE html>
<html lang="en">
    <%- include partials/_head.ejs %>

  <body>
    <!-- Top nav bar (fixed) -->

   <%- include partials/_navbar.ejs %>

    <!-- Page-specific (main) content here -->
    <main>
      <% if (user) {%>
      <h1>Welcome back, <%= user.first_name %>!</h1>
      <% } else { %>
      <h1>Welcome to Fetch.</h1>
      <h3>Your easy resource storage system.</h3>
      <% } %>

      <p> <%- include partials/_searchAndFilter.ejs %></p>

      <div class="row">
        
        <!-- filled in when renderResources function is called in resourceFuncs.js -->
         </div>

    </main>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
  
</html>