<!DOCTYPE html>
<html lang="en">
   <%- include partials/_head.ejs %>
  <body>
    <main>
    <!-- Top nav bar (fixed) -->
   <%- include partials/_navbar.ejs %>

    <h2>Welcome to the login page!</h2>


    <div class="loginButtons">
      <form action="/login" method="POST">
        <input value="rebs@rebs.ca" name="email" style="display: none"/>
        <input value="rebs" name="password" style="display: none"/>
         <input type="submit" value="Rebecca">
      </form> <form action="/login" method="POST">
        <input value="mark@mark.ca" name="email" style="display: none"/>
        <input value="mark" name="password" style="display: none"/>
        <input type="submit" value="Mark">
      </form> <form action="/login" method="POST">
        <input value="mike@mike.ca" name="email" style="display: none"/>
        <input value="mike" name="password" style="display: none"/>
        <input type="submit" value="Mike">
      </form>
    </div>
    </main>
     <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>