<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <div class="header">Fetch</div>
      <h2>Welcome, USER</h2> 
      <img class="nav-profile-pic" src="test.png"/>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <form action="#####" method="POST">
        <input id="searchText" type="text" name="searchText" placeholder="Whatchalookinfor???" style="width: 300px"><br>
        <input type="submit" value="Search">
      </form>
      <form action="#####" method="POST">
        <input type="submit" value="Filter">
      </form>
    </main>

    <main class="cards">
      <div class="row">
        <div class="column">Title 1</div>
        <div class="column">Title 2</div>
        <div class="column">Title 3</div>
      </div>
    </main>

  </body>
</html>