<!DOCTYPE html>
<html lang="en">

     <%- include partials/_head.ejs %>
 

  <body>

    

    <%- include partials/_navbar.ejs %>

    <!-- Page-specific (main) content here -->
    <main>
      <div class="user-info"></div>

      <form action="" method="POST" style="display:none">
        <input type="text" name="searchFirstName" style="width: 300px"><br>
        <input type="text" name="searchLastName" style="width: 300px"><br>
        <input type="text" name="email" style="width: 300px"><br>
        <input type="submit" value="Search">
      </form>
    </main>

      <button type="submit" class="add-card"> &#10133; Add card</button>
      
    <script type="text/javascript" src="/scripts/profilePage.js"></script>
  </body>
</html>