.add-card {
  font-size: .9em;
  width: 300px; 
  height: 400px;
  float: left;
  border-radius: 5px;
  border: 1px black solid;
  background: white;
  opacity: 0.9;
  color: grey;
  font-size: 2em;
}

.add-card:hover, .add-card:active  {
  color: black;
  transition: .3s all ease-in;
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

.new-card {
  font-size: .9em;
  width: 300px; 
  height: 400px;
  float: left;
  border-radius: 5px;
  border: 1px black solid;
  background: white;
  opacity: 0.9;
  color: grey;
  font-size: 2em;
}

.new-card .cardUrl {
  width: 250px;
  margin-left: -130px;
  margin-top: -2000px;
  margin-bottom: 10px;
}

.new-card .cardTitle {
  margin-left: -130px;
  margin-bottom: 10px;
  width: 250px;
}

.new-card .cardText {
  margin-left: -130px;
  width: 250px;
}
