.cards {
  padding-top: 10px;
}

.row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.column
{
    display: table-cell;
    height: 300px;
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px black solid;
}