.cards {
    border-spacing: 25px 50px;
}

.cards h1 {
    font-size: 1.5em;
    text-align: center;
}

.cards img {
    width: 90%; 
    display: block;
    margin: auto;
}

.cards h3 {
    padding: 10px;
    font-size: 1em;
}

.row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.column
{
    display: table-cell;
    height: 300px;
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px grey;
}

