html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin-top: 50px;
  font-size: 12px;
  background-color: #f8f9f9;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: auto;
  background-color: white;
  align-content: center;
  margin: 80px;
  padding: 40px 120px;
}

main .filter {
  margin-bottom: 0px;
}

main .search-form {
  margin-top: 50px;
}

main .col-md-4 {
  display: inline-block;
}

.user-info img {
  float: right;
  width: 220px;
  height: 220px;
  border-radius: 120px;
  padding: 5px;
  border: 4px solid #212E4E;
  background-color: #f8f9f9;
}

.nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  top: 0;
  background-color: #212E4E;
  font-color: #A8ADB0;
  padding: 0 20px;
  z-index: 1;
}

.nav-bar .header {
  position: fixed;
  right: 50px;
  top: 5px;
  color: #fff;
  font-size: 3em;
  line-height: 40px;
  padding: 20px;
}

.nav-bar .form-control {
  display: inline;
  width: auto;
}

.nav-menu {
  position: fixed;
  left: 140px;
  top: 35px;
}

.dropdown-toggle {
  background-color: transparent;
  font-size: 0.5em;
  opacity: 0.8;
}

.dropdown-toggle:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-pic-container {
  width: 112px;
  height: 112px;
  z-index: 1;
  padding: 4px;
  position: fixed;
  left: 20px;
  top: 10px;
  border: 2px solid #212E4E;
  float: left;
  font-size: 0.5em;
  background-color: #f8f9f9;
  border-radius: 60px;
}

.nav-pic-container .nav-profile-pic {
  border-radius: 60px;
  border: none;
  width: 100px;
  height: 100px;
}

.nav-pic-container .nav-profile-pic:hover {
  opacity: 0.9;
  cursor: pointer;
}

.nav-login-container {
  padding: 6px 10px;
  color: white;
  position: fixed;
  left: 20px;
  top: 15px;
  float: right;
  font-color: #f8f9f9;
  font-size: 0.4em;
  border: 1px solid #DFDFDF;
  border-radius: 60px;
  opacity: 0.7;
}

.nav-login-container:hover {
  opacity: 0.9;
  cursor: pointer;
}

.nav-login-container .login-button {
  display: inline;
  color: white;
  text-decoration: none;
}

.btn {
  display: inline;
}

.card, .new-card {
  background-color: #f8f9f9;
  width: auto;
  padding: 0 15px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin: 15px 0px;
  min-height: 100px;
  min-width: 100px;
  content: "";
  display: table;
  clear: both;
}

.card .col-md-10, .new-card .col-md-10 {
  padding: 5px 0px;
}

.card .col-md-2, .new-card .col-md-2 {
  padding: 0px;
}

.card .card-title, .new-card .card-title {
  padding: 15px 15px 5px;
  font-size: 1.5em;
}

.card img, .new-card img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.card .edit-button, .new-card .edit-button {
  border: none;
  font-size: 1.5em;
  background-color: #f8f9f9;
  margin: 10px 6px;
  float: right;
}

.card .edit-button:hover, .new-card .edit-button:hover {
  opacity: 0.7;
  text-decoration: none;
}

.card .edit-button:focus, .new-card .edit-button:focus {
  outline: none;
}

.card .glyphicon.glyphicon-pencil, .new-card .glyphicon.glyphicon-pencil {
  font-size: 13px;
}

.card .comment, .new-card .comment {
  font-color: #60697A;
  display: inline;
  font-size: 1.3em;
}

.card .comments-container, .new-card .comments-container {
  width: 100%;
  font-color: #60697A;
  display: none;
}

/****** Style Star Rating Widget *****/
.rating-form-inc, .rating-form-dec {
  float: right;
  align: center;
}

.rating-form-inc input, .rating-form-dec input {
  background: transparent;
  color: darkred;
  border: none;
}

.rating-form-inc input:hover, .rating-form-dec input:hover {
  color: #be0000;
}

.rating-form-inc input:focus, .rating-form-dec input:focus {
  border: none;
  text-decoration: none;
}

.rating-form-dec {
  color: blue;
}

.add-new-card, .hide-add-new-card {
  opacity: 0.9;
  font-size: 1.2em;
  font-color: white;
}

.add-new-card:hover, .hide-add-new-card:hover, .add-new-card:active, .hide-add-new-card:active {
  color: #DFDFDF;
  opacity: 1;
}

.new-card {
  padding: 30px;
  display: inline-block;
}

.new-card .form-control {
  width: 200px;
}

.user-cards, .all-cards {
  margin-top: 70px;
}

.search-filter {
  overflow: hidden;
}

.search-filter .form-control {
  width: 200px;
  display: inline;
}

.search-filter .btn {
  width: 52px;
}

.login-buttons {
  margin: 50px 20px;
}

.login-buttons form {
  display: inline;
}

.login-buttons .btn-default {
  width: auto;
  margin: 5px 5px 5px 0px;
}

.login-buttons .btn-default:hover {
  background-color: #212E4E;
  color: white;
  border-color: #212E4E;
}

.comments-container {
  overflow: visible;
  display: inline-block;
}

.actions {
  display: none;
}

time {
  display: none;
}

.navigation-wrapper {
  display: none;
}

.textarea {
  width: 100%;
  padding: 5px;
}

.close {
  margin: 5px;
}

.send {
  margin: 5px;
}

.name {
  display: none;
}
