/*
Error: Invalid CSS after "  width: 112px": expected "{", was ";"
        on line 45 of styles/_navbar.scss
        from line 2 of styles/layout.scss

40:     }
41:   }
42: 
43:   .nav-pic-container {
44: <<<<<<< HEAD
45:   width: 112px;
46:   height: 112px;
47: =======
48:   width: 108px;;
49:   height: 108px;
50: >>>>>>> master

Backtrace:
styles/_navbar.scss:45
styles/layout.scss:2
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:665:in `block'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/engine.rb:312:in `to_tree'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:88:in `block in with_import'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:88:in `with_import'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/vagrant/.rvm/gems/ruby-2.3.3/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  width: 112px\": expected \"{\", was \";\"\A         on line 45 of styles/_navbar.scss\A         from line 2 of styles/layout.scss\A \A 40:     }\A 41:   }\A 42: \A 43:   .nav-pic-container {\A 44: <<<<<<< HEAD\A 45:   width: 112px;\A 46:   height: 112px;\A 47: =======\A 48:   width: 108px;;\A 49:   height: 108px;\A 50: >>>>>>> master"; }
