.card {
  background-color: $paper-light;
  width: auto;
  padding: 0 15px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 15px 0px;
  min-height: 100px;
  min-width: 100px;
  content: "";
  display: table;
  clear: both;

  .col-md-10 {
    padding: 5px 0px;
  }

  .col-md-2 {
    padding: 0px;
  }

  .card-title {
    padding: 10px 15px 0px;
    font-size: 2em;
  }
  .index-card-title {
    padding: 15px 0px 0px;
    font-size: 2em;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .edit-button {
    border: none;
    font-size: 1.5em;
    background-color: $paper-light;
    margin: 10px 6px;
    float: right;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }

  .glyphicon.glyphicon-pencil {
    font-size: 13px;
  }

  .comment {
    font-color: $lavendar;
    display: inline;
    font-size: 1.3em;
  }

  .comments-container {
    width: 100%;
    font-color: $lavendar;
    display: none;
  }
}
  /****** Style Star Rating Widget *****/

.rating-form-inc { 
  float: right;
  align: center;
  input  {
  background: transparent;
  color: darkred;
  border: none;
  &:hover {
    color:$light-red;
  }
  &:focus {
    border: none;
    text-decoration: none;
  }
  }
}

.rating-form-dec { 
  @extend .rating-form-inc;
    color: blue;
}

.add-new-card {
  line-height: 30px;
  opacity: 0.9;
  font-size: 1.3em;
  font-color: white;
  &:hover, &:active {
  color: $light-grey;
  opacity: 1;
  }
}

.hide-add-new-card {
  @extend .add-new-card;
}

.new-card {
  @extend .card;
  padding: 30px;
  display: inline-block;
 .form-control {
    width: 200px;
  }
}

.user-cards {
  margin-top: 70px;
}

.all-cards {
  @extend .user-cards;
}

