.card {
  background-color: $paper-light;
  width: auto;
  padding: 0 15px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 15px 0px;
  content: "";
  display: table;
  clear: both;

  .col-md-10 {
    padding: 5px 0px;
  }

  .col-md-2 {
    padding: 0px;
  }

  .card-title {
    margin: 0;
    font-size: 1.5em;
    margin: 10px 0px;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .edit-button {
    border: none;
    background-color: $paper-light;
    margin-top: 15px;
    float: right;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }

  .glyphicon.glyphicon-pencil {
    font-size: 13px;
  }

  .comment {
    font-color: $lavendar;
    display: inline;
    font-size: 1.3em;
  }

  #comments-container {
    width: 100%;
    font-color: $lavendar;
    display: none;
  }

  /****** Style Star Rating Widget *****/

  .rating { 
    border: none;
    float: right;
    align: center;
  }

  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 1px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "★";
  }

  .rating > label { 
    color: #ddd; 
    float: right; 
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

}

.add-new-card {
  opacity: 0.9;
  font-size: 1.2em;
  font-color: white;
  &:hover, &:active {
  color: $light-grey;
  opacity: 1;

  }
}

.hide-add-new-card {
  @extend .add-new-card;
}

.new-card {
  @extend .card;
  padding: 30px;
  display: inline-block;
 .form-control {
    width: 200px;
  }
}

.user-cards {
  margin-top: 70px;
}

.all-cards {
  @extend .user-cards;
}