#comments-container {
    overflow: visible;
    display: inline-block;
  }
.actions {
  display: none;
}

time {
  display: none;
}

.navigation-wrapper {
  display: none;
}

.textarea {
  width: 100%;
  padding: 5px;
}
.close{
  margin: 5px;
}

.send{
  margin: 5px;
}