.login-buttons {
  margin: 50px 20px;
  form {
    display: inline;
  }
  .btn-default {
  width: auto;
  margin: 5px 5px 5px 0px;
    &:hover {
    background-color: $dusty;
    color: white;
    border-color: $dusty;
    }
  }
}
