.nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 80px;
  top: 0;
  background-color: $dark-blue;
  font-color: $light-green;
  padding: 0 20px;
  overflow: auto;
  z-index: 1;

  .profilePhoto {
  width: 80px;
  height: 80px;
  float: left;
  padding-right: 10px;
  }

  .header {
  color: #fff;
  font-size: 2em;
  line-height: 80px;
  }

  .menuButton {
  padding: 10px;
  float: right;
  margin: 15px 0px;
  font-color: #fff;
  font-size: 1.5em;
  background-color: $light-green;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.8;
  &:hover {
  opacity: 0.9;
  cursor: pointer;
  }
  }
}
