$dusty: #212E4E;
$lavendar: #60697A;
$grey: #444E5A;
$light-grey: #DFDFDF;
$paper: #A8ADB0;
$paper-light: lighten($paper, 30%);
$light-red: lighten(darkred, 10%);


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin-top: 50px;
  font-size: 12px;
  background-color: $paper-light;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
	width: auto;
  height: auto;
	background-color: white;
	align-content: center;
	margin: 80px;
	padding: 40px 120px;

  .filter {
    margin-bottom: 0px;
  }

  .search-form {
    margin-top: 50px;
  }

  .col-md-4 {
    display: inline-block;
  }
}

.user-info {
  img {
    float: right;
    width: 220px;
    height: 220px;
    border-radius: 120px;
    padding: 5px;
    border: 4px solid $dusty;
    background-color: $paper-light;
  }
}

