.search-filter {
  overflow: hidden;
  padding-left: 10px;
  #filter {
    background-color: white;
  }
  .form-control {
    width: 180px;
    display: inline;
    vertical-align: top;
  }
  .btn {
  width: 52px;
}
}

.view-favourites{
  width: 140px;
}